/*

    COMMON

*/



html{
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
    max-width: 71.25rem;
    padding: 0 1.25rem;

}

img{
    max-width: 100%;
}

section{
    scroll-margin-top: 3.75rem;
}