/*

    COMMON

*/



html{
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
    max-width: 71.25rem;
    padding: 0 1.25rem;

}

img{
    max-width: 100%;
}

section{
    scroll-margin-top: 3.75rem;
}


.my-button{
    display: inline-block;
    background-color: white;
    color: black !important;
    text-decoration: none;
    padding: .625rem 1.5625rem !important;
    border-radius: 1.875rem;
    border: none;
    font-size: medium;
    text-decoration: none;

}

.my-button.blue-button{
    background-color: var(--main-color);
    color: white !important;

}
.my-button.purple-button{
    background-color: var(--secondary-color);
    color: white !important;
    text-decoration: none;

}