@import "color.css";
@import "common.css";



/*

    RESET

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


/*

    HEADER

*/
#main-header{
    position: sticky;
    top: 0;
}
.header-content .nav-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.625rem;

}
.hamb-menu{
    color: white;
}
.logo{
    display: block;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 0;
}
.header-content .nav-menu{
    display: none;
}
.header-content .nav-menu ul{
    display: flex;
    list-style: none;

}





















/*

    MAIN

*/

#s1 .big-card-container .left a{
    text-decoration: none;
    border: none;
    list-style: none;
    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
    text-align: center;
    margin-top: 1.25rem;
}
.card{
    width: calc(100% - 1.25rem);
    margin: 0 .625rem 20px;
}
.card > div{
    padding: 0.625rem;
    height: 100%;
}
#s1 .card:first-child > div{
    padding: 0;
}
#s1 .card:first-child img{
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#s1 .card:not(:first-child) {
    text-align: center;
}



.planning-container > div:first-child{
    
}

.planning-container > *{
    text-align: center;
    padding: .625rem 1.25rem;
}
.planning-container img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.info-card{
    padding: 1.25rem;
    border-radius: 20%;
    background-color: white;


}
.info-card img{
    width: 100%;
    background-size: cover;
    display: block;


}
.info-card button{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color-bg);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}




#s3 .container{
    margin-bottom: 50px; 
}
#s3 .testimonial-header{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    margin-bottom: 50px;

}

#s3 .testimonial-content p{
    margin-bottom: 1.25rem;
}
#s3 .testimonial{
    padding: .625rem;
    text-align: center;
    margin-bottom: 20px;

}
#s3 .testimonial .testimonial-img{
    width: 12.5rem;
    height: 12.5rem;
    padding: .9375rem;
    flex-shrink: 0;
    margin: 0 auto;
} 
.testimonial .testimonial-img img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#s3 .testimonial .testimonial-content{
    flex-grow: 1;
    color: white;

} 



#s4 .s4-header{
    text-align: center;
}
#s4 .feature-card{
    padding: 1.875rem;
    background-color: white;
    border-radius: 1.875rem;
}








#s5 .about-us-container{
    display: flex;
}

#s5 .about-us-container p,h2{
    
    margin-bottom: 1.3rem;
}
#s5 .about-us-container {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
#s5 .avatar-container{
    position: relative;
}   
#s5 .avatar-container i{
    position: absolute;
    right: 0;
    top:0;
    font-size: 2rem;
}   

#s5 .avatar-container img{
    
    border-radius: 50%;
}






















/*

    FOOTER

*/















/*

    MEDIA QUERY

*/




/*MOBILE*/
@media screen and (min-width: 0){

/* MAIN */
    
}












/*TABLET*/

@media screen and (min-width: 768px){
    /* Header */




    /* Main */
    .card{
        width: calc((100% / 3) - 1.25rem);
        text-align: start;
    }

    #s1 .card:first-child{
        width: calc(((100% / 3) * 2) - 1.25rem);
    }
    #s1 .card:first-child img{
        margin: 0;
    }

    .benefit .card{
        width: calc(50% - 1.25rem);
    }
    #s3 .testimonial{
        display: flex;
        align-items: center;
        text-align: left;
        padding: .625rem;
    }
    #s3 .testimonial .testimonial-img{
        width: 18.75rem;
        height: 18.75rem;
        padding-right: 1.25rem;
    }
    #s3 .testimonial .testimonial-content{
        padding: 0 1.875rem;
    }
    #s5 .about-us-container{
        display: flex;
    }
    #s5 .about-us-container > div:first-child{
        width: 70%;
    margin-bottom: 0;

    }
    #s5 .about-us-container > div:last-child{
        width: 30%;
    }
    #s5 .avatar-container i{
        font-size: 4rem;
    }  
    /* Footer */
}












/*DESKTOP*/
@media screen and (min-width: 992px){

    /* HEADER */
    .header-content .hamb-menu{
        display: none;
    }
    .header-content .nav-menu{
        display: block;
    }


    /* MAIN */
    .card .big-card-container{
        display: flex;

    }
    .card .big-card-container > div{
        width: 50%;
    }
    .planning-container {
        display: flex;
        align-items: flex-end;
        padding: 0 3,125rem;
    }
    .benefit .card{
        width: calc((100% / 3)  - 1.25rem);
    }
    #s5 .about-us-container > div:first-child{
        width: 80%;
        padding-right: 2.5rem;
    }
    #s5 .about-us-container > div:last-child{
        width: 20%;
    }

    /*FOOTER*/
}





