@import "color.css";
@import "common.css";



/*
    
    RESET
    
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


/*

    HEADER

*/

.header-content .nav-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0.625rem;
    
}
.hamb-menu{
    color: white;
}
.logo{
    display: block;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 0;
}
.header-content .nav-menu{
    display: none;
}
.header-content .nav-menu ul{
    display: flex;
    list-style: none;

}





















/*

    MAIN

*/
main section {
    padding: 2rem 0;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
    text-align: center;
    
}
.card{
    width: calc(100% - 1.25rem);
    margin: .625rem;
}
.card > div{
    padding: 0.625rem;
}

.planning-container > *{
    text-align: center;
    padding: .625rem 1.25rem;
}


#s3{
    text-align: center;
    padding: .625rem;
    
}
.card-comment{
    margin-top: 2.5rem;
    color: white;

}
.card-partner{
    margin-bottom: 1.25rem;
    border-radius: 10%;
}
#s4 h2{
    text-align: center;
}

























/*

    FOOTER

*/















/*

    MEDIA QUERY

*/




/*MOBILE*/
@media screen and (min-width: 0){ 

/* MAIN */

}












/*TABLET*/

@media screen and (min-width: 768px){     
    /* Header */
    
    


    /* Main */
    .card{
        width: calc((100% / 3) - 1.25rem);
        text-align: start;

    }

    #s1 .card:first-child{
        width: calc(((100% / 3) * 2) - 1.25rem);
    }
    .card-partner{
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
    }
    .benefit .card{
        width: calc(50% - 1.25rem);

    }
    
    /* Footer */
} 












/*DESKTOP*/
@media screen and (min-width: 992px){     

    /* HEADER */
    .header-content .hamb-menu{
        display: none;
    }
    .header-content .nav-menu{
        display: block;
    }


    /* MAIN */
    .card .big-card-container{
        display: flex;
        
    }
    .card .big-card-container > div{
        width: 50%;
    }
    .planning-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .benefit .card{
        width: calc((100% / 3)  - 1.25rem);
    }

    /*FOOTER*/
}


    


